<!-- Blog-Post -->
<section class="content-area section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 blog_area">
                <div class="row" id="noticias">
                    <div class="box-notice">
                        <div id="carousel">
                            <h3 class="sidebar_title">Notícias</h3>
                            <section id="slider">
                                <ul class="slider-wrapper">
                                    <li class="current-slide">
                                        <img src="assets/img/slider01.png" style="background: #98cc98;" title="" alt="">
                                        <div class="caption">
                                            <h2 class="slider-title">Título</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, placeat est. Alias illo hic quo nobis, aspernatur iste ut voluptate.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="assets/img/slider03.png" style="background: #98cc98;" title="" alt="">
                                        <div class="caption">
                                            <h2 class="slider-title">Título</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, placeat est. Alias illo hic quo nobis, aspernatur iste ut voluptate.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="assets/img/slider02.png" style="background: #98cc98;" title="" alt="">
                                        <div class="caption">
                                            <h2 class="slider-title">Título</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dicta laudantium voluptatem minima! Dolorum tempore dolores excepturi omnis provident. Commodi quis aperiam maiores, dolore a perferendis!</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="assets/img/slider03.png" style="background: #98cc98;" title="" alt="">
                                        <div class="caption">
                                            <h2 class="slider-title">Título</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolore dignissimos laudantium.</p>
                                        </div>
                                    </li>
                                </ul>
                                <ul id="control-buttons" class="control-buttons"></ul>
                            </section>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <article class="col-md-12">
                                    <div class="list_style post_wrap">
                                        <div class="post_info">
                                            <div class="post_cats color-green">
                                                <a href="#">Lava-Jato</a> | <span class="date">10 de Maio de 2017</span>
                                            </div>
                                            <h2 class="post-title"><a href="#">Eike fala de propina para Cabral, Cunha, Funaro e para legalizar cassinos</a></h2>
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ...</p>
                                            <hr/>
                                            <a href="#" class="btn" style="float:right;"><i class="fa fa-plus fa-fw saiba-mais"></i> Saiba Mais</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <article class="col-md-12">
                                        <div class="list_style post_wrap">
                                            <div class="post_info">
                                                <div class="post_cats color-green">
                                                    <a href="#">Legislação</a> | <span class="date">10 de Maio de 2017</span>
                                                </div>
                                                <h2 class="post-title"><a href="#">Gilberto Marques discute no STF prioridades do Judiciário</a></h2>
                                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ...</p>
                                                <hr/>
                                                <a href="#" class="btn" style="float:right;"><i class="fa fa-plus fa-fw saiba-mais"></i> Saiba Mais</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="pagination">
                            <ul class="page-numbers">
                                <li><a class="prev page-numbers" href="#">Anterior</a></li>
                                <li><span class="page-numbers current">1</span></li>
                                <li><a class="page-numbers" href="#">2</a></li>
                                <li><a class="page-numbers" href="#">3</a></li>
                                <li><a class="next page-numbers" href="#">Próximo</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" id="tv">
                        <div class="box-notice">
                            <div id="carousel">
                                <h3 class="sidebar_title">TV Câmara</h3>
                                <section id="slider2">
                                    <ul class="slider-wrapper2">
                                        <li class="current-slide">
                                            <img src="assets/img/slider01.png" style="background: #98cc98;" title="" alt="">
                                            <div class="caption">
                                                <h2 class="slider-title">Título</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, placeat est. Alias illo hic quo nobis, aspernatur iste ut voluptate.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="assets/img/slider03.png" style="background: #98cc98;" title="" alt="">
                                            <div class="caption">
                                                <h2 class="slider-title">Título</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, placeat est. Alias illo hic quo nobis, aspernatur iste ut voluptate.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="assets/img/slider02.png" style="background: #98cc98;" title="" alt="">
                                            <div class="caption">
                                                <h2 class="slider-title">Título</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dicta laudantium voluptatem minima! Dolorum tempore dolores excepturi omnis provident. Commodi quis aperiam maiores, dolore a perferendis!</p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="assets/img/slider03.png" style="background: #98cc98;" title="" alt="">
                                            <div class="caption">
                                                <h2 class="slider-title">Título</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolore dignissimos laudantium.</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul id="control-buttons2" class="control-buttons2"></ul>
                                </section>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <article class="col-md-12">
                                        <div class="list_style post_wrap">
                                            <div class="post_info">
                                                <div class="post_cats color-green">
                                                    <a href="#">Lava-Jato</a> | <span class="date">10 de Maio de 2017</span>
                                                </div>
                                                <h2 class="post-title"><a href="#">Eike fala de propina para Cabral, Cunha, Funaro e para legalizar cassinos</a></h2>
                                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ...</p>
                                                <hr/>
                                                <a href="#" class="btn" style="float:right;"><i class="fa fa-plus fa-fw saiba-mais"></i> Saiba Mais</a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <article class="col-md-12">
                                            <div class="list_style post_wrap">
                                                <div class="post_info">
                                                    <div class="post_cats color-green">
                                                        <a href="#">Legislação</a> | <span class="date">10 de Maio de 2017</span>
                                                    </div>
                                                    <h2 class="post-title"><a href="#">Gilberto Marques discute no STF prioridades do Judiciário</a></h2>
                                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ...</p>
                                                    <hr/>
                                                    <a href="#" class="btn" style="float:right;"><i class="fa fa-plus fa-fw saiba-mais"></i> Saiba Mais</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination">
                                <ul class="page-numbers">
                                    <li><a class="prev page-numbers" href="#">Anterior</a></li>
                                    <li><span class="page-numbers current">1</span></li>
                                    <li><a class="page-numbers" href="#">2</a></li>
                                    <li><a class="page-numbers" href="#">3</a></li>
                                    <li><a class="next page-numbers" href="#">Próximo</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="footer_widget">
                                <h3>Galeria de Fotos</h3>
                                <div class="instagram_img">
                                    <ul>
                                        <li><a href="#"><img src="assets/img/360x360.jpg" alt="image"></a></li>
                                        <li><a href="#"><img src="assets/img/360x360_2.jpg" alt="image"></a></li>
                                        <li><a href="#"><img src="assets/img/360x360_3.jpg" alt="image"></a></li>
                                        <li><a href="#"><img src="assets/img/360x360.jpg" alt="image"></a></li>
                                        <li><a href="#"><img src="assets/img/360x360_2.jpg" alt="image"></a></li>
                                        <li><a href="#"><img src="assets/img/360x360_3.jpg" alt="image"></a></li>
                                        <li><a href="#"><img src="assets/img/360x360.jpg" alt="image"></a></li>
                                        <li><a href="#"><img src="assets/img/360x360_2.jpg" alt="image"></a></li>
                                        <li><a href="#"><img src="assets/img/360x360_3.jpg" alt="image"></a></li>
                                        <li><a href="#"><img src="assets/img/360x360.jpg" alt="image"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar -->
                    <div class="col-md-4 sidebar-area">
                        <div class="sidebar_widget ">
                            <div class="about_wrap">
                                <div class="about_img">
                                    <a href='#' class="btn btn-default btn-acesso-rapido"><i class="fa fa-info-circle fa-fw icon-btn" aria-hidden="true"></i>Portal da Transparência</a>
                                    <a ui-sref='main.ouvidoria' class="btn btn-default btn-acesso-rapido"><i class="fa fa-phone fa-fw icon-btn" aria-hidden="true"></i><span>Ouvidoria</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_widget">
                            <h3 class="sidebar_title">Eventos</h3>
                            <div class="populat_post">
                                <div class="post_img">
                                    <a href="#"><img src="assets/img/eventos01.jpg" alt="image"></a>
                                </div>
                                <h4 class="post-title"><a href="#">Titulo do evento</a></h4>
                                <div class="post_meta">
                                    <ul>
                                        <li class="post-author">30 de Maio de 2017</li>
                                        <li class="post_date">08:00h</li>
                                        <li class="post_comments">Praça Principal</li>
                                        <li class="post_linkes"><a href="#"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>Saiba Mais</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="populat_post">
                                <div class="post_img">
                                    <a href="#"><img src="assets/img/eventos02.jpg" alt="image"></a>
                                </div>
                                <h4 class="post-title"><a href="#">Titulo do evento</a></h4>
                                <div class="post_meta">
                                    <ul>
                                        <li class="post-author">30 de Maio de 2017</li>
                                        <li class="post_date">08:00h</li>
                                        <li class="post_comments">Praça Principal</li>
                                        <li class="post_linkes"><a href="#"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>Saiba Mais</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_widget">
                            <h3 class="sidebar_title">Links Úteis</h3>
                            <ul>
                                <li><a href="#">Prefeitura Municipal</a></li>
                                <li><a href="#">Diário Oficial do Municipio</a></li>
                                <li><a href="#">Assembléia Legislativa</a></li>
                                <li><a href="#">Câmara dos Deputados</a></li>
                                <li><a href="#">Senado Federal</a></li>
                                <li><a href="#">Programa Interlegis</a></li>
                            </ul>
                        </div>
                        <div class="sidebar_widget">
                            <h3 class="sidebar_title">Localização</h3>
                            <div class="newsletter_wrap">
                                <p>Rua. Alexandre Protásio, nº 64 </p>
                                <p>Cachoeirinha, PE - CEP: 55380-000 </p>
                                <p>Fone: (81) 3742-1199</p>
                                <p>Email: cmvcachoeirinha_pe@hotmail.com </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Blog-Post -->
