<!-- Header -->
<header id="header">
    <div class="header_top secondary-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <ul class="header_nav">
                        <li><a href="#">Mapa do Site</a></li>
                        <li><a href="#">Acessibilidade</a></li>
                        <li><a href="page.php">Contato </a></li>
                    </ul>
                </div>
                <ul class="header_nav social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header_top box-logo">
        <div class="container-fluid">
            <div class="row">
                <h1> Câmara Municipal de Vereadores</h1>
                <p> Cachoeirinha - PE - Casa Vereador Cícero Cintra</p>
            </div>
        </div>
    </div>
    <!-- Navigation -->
    <nav id="navigation_bar" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav">
                    <li class="menu-item active">
                        <a ui-sref="main.home">Página Inicial</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="#">Instituição</a>
                        <ul class="sub-menu">
                            <li><a href="#">Presidente da Câmara</a></li>
                            <li><a href="#">Organograma</a></li>
                            <li><a href="#">Recursos Humanos</a></li>
                            <li><a href="#">Comissões da Casa</a></li>
                            <li><a href="#">Lideranças Partidárias</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="#">Vereadores</a>
                        <ul class="sub-menu">
                            <li><a href="#">Legislatura</a></li>
                            <li><a href="#">Frequência</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="#">Atividade Legislativa</a>
                        <ul class="sub-menu">
                            <li><a href="#">Agenda da Câmara</a></li>
                            <li><a href="#">Sessão Plenária</a></li>
                            <li><a href="#">Comissões</a></li>
                            <li><a href="#">Audiências Públicas</a></li>
                            <li><a href="#">CPIS</a></li>
                            <li><a href="#">Frentes Parlamentares</a></li>
                            <li><a href="#">Fóruns</a></li>
                            <li><a href="#">Lideranças</a></li>
                            <li><a href="#">Projetos apresentados (desde 1948)</a></li>
                            <li><a href="#">Mesa Diretora</a></li>
                            <li><a href="#">Corregedoria</a></li>
                            <li><a href="#">Gabinetes</a></li>
                            <li><a href="#">Regimento Interno</a></li>
                            <li><a href="#">Legislação</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="#">Fale Conosco</a>
                        <ul class="sub-menu">
                            <li><a href="#">Formulário de contato</a></li>
                            <li><a href="#">Visite a Câmara</a></li>
                            <li><a href="#">Telefones</a></li>
                            <li><a href="#">Ouvidoria</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navigation end -->
</header>
<!-- /Header -->

<div ui-view></div>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="footer_bottom">
            <div class="copyright_text">
                <p>© <a>2017 Innove Media</a> - Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->

<!--Back-to-top-->
<div id="back-top" class="back-top" style="display: none;">
    <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a>
</div>
<!--/Back-to-top-->
