<!-- Header -->

<nav id="sidebar" class="sidenav">
    <div class="scroll-wrapper sidebar-wrapper" style="position: relative;">
        <div class="sidebar-wrapper scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 588px;">
            <div class="profile-sidebar">
                <div class="avatar">
                    <img src="../assets/img/logotipo.png" alt="">
                </div>
                <p> Casa Vereador Cícero Dias </p>
            </div>
            <ul class="main-menu" id="menus">
                <li>
                    <a class="pr-mn collapsed" data-toggle="collapse" ui-sref="main.home">
                        <span class="icon ti-home"></span>Página Inicial
                    </a>
                </li>
                <li>
                    <a class="pr-mn collapsed" data-toggle="collapse" href="#menu1" aria-expanded="true">
                        <span class="icon ti-notepad"></span>Instituição
                    </a>
                    <ul id="menu1" class="collapse" data-parent="#menus">
                        <li>
                            <a href="#">Opção 1</a>
                        </li>
                        <li>
                            <a href="#">Opção 2</a>
                        </li>
                        <li>
                            <a href="#">Opção 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="pr-mn collapsed" data-toggle="collapse" href="#menu2" aria-expanded="true">
                        <span class="icon ti-notepad"></span>Vereadores
                    </a>
                    <ul id="menu2" class="collapse" data-parent="#menus">
                        <li>
                            <a href="#">Opção 1</a>
                        </li>
                        <li>
                            <a href="#">Opção 2</a>
                        </li>
                        <li>
                            <a href="#">Opção 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="pr-mn collapsed" data-toggle="collapse" href="#menu3"
                        aria-expanded="true">
                        <span class="icon ti-notepad"></span>Atividades
                    </a>
                    <ul id="menu3" class="collapse" data-parent="#menus">
                            <li>
                                    <a href="#">Opção 1</a>
                                </li>
                                <li>
                                    <a href="#">Opção 2</a>
                                </li>
                                <li>
                                    <a href="#">Opção 3</a>
                                </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="scroll-element scroll-x scroll-scrolly_visible">
            <div class="scroll-element_outer">
                <div class="scroll-element_size"></div>
                <div class="scroll-element_track"></div>
                <div class="scroll-bar" style="width: 89px;"></div>
            </div>
        </div>
        <div class="scroll-element scroll-y scroll-scrolly_visible">
            <div class="scroll-element_outer">
                <div class="scroll-element_size"></div>
                <div class="scroll-element_track"></div>
                <div class="scroll-bar" style="height: 350px; top: 0px;"></div>
            </div>
        </div>
    </div>
</nav>

<header id="page-header" class="pageheader">
    <div class="content-header">
        <div class="navbar-header">
       
            <div class="app-title">
                <!-- LOGO -->
                <h1> Câmara Municipal de Cachoeirinha</h1>
            </div>
            <div class="mobile-nav">
                <button class="btn" type="button" id="mobileBtn">
                    <i class="ti-layout-grid2-alt"></i>
                </button>
            </div>
        </div>

    </div>
</header>
<!-- /Header -->

<div ui-view></div>

<!-- Footer -->
<footer id="page-footer" class="pagefooter">
    <div class="content">
        <div class="row">
            <div class="copyright col-sm-12 col-md-12 col-lg-6">
                © Cachoeirinha - 2017
            </div>

        </div>
    </div>
</footer>
<!-- /Footer -->