
<main id="main-container">
    <div class="content">

        <div class="page-helper">
                <div class="form-container">
                
                <div class="not-found"><img src="../assets/img/manutencao.png">
                <br/>
                <br/>
                <h2 class="pg-desc">Página em Manutenção!</h2>
                <p>Estamos providenciando o conteúdo.<br/> Aguarde!</p>
                </div><div class="p-4 text-center">
                <a class="btn btn-square btn-alt-primary btn-darkcyan" ui-sref="main.home">Voltar à Página Inicial</a>
                </div>
                </div></div>
    </div>


    <!-- .content -->
</main>
